<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geo_segalmex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconoapp_liz"
        android:label="GEO_SEGALMEX"
        android:roundIcon="@mipmap/iconoapp_liz_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.geo_segalmex.NewCamara"></activity>

        <activity android:name="com.example.geo_segalmex.apicola.HerramientasProteccion" />

        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.Apicultura_4" />

        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.Apicultura_3" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.Apicultura_2" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.Apicultura_1" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_4_0" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_3_1" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.variables_caracterizacion.CalendarioDate" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.FuenteAgua" />
        <activity android:name="com.example.geo_segalmex.Gps.GpsEnableb" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.FertilizanteSi" />
        <activity android:name="com.example.geo_segalmex.apicola.SanidadApicola" />
        <activity android:name="com.example.geo_segalmex.apicola.ReproduccionApicola" />
        <activity android:name="com.example.geo_segalmex.apicola.ManejoApicola" />
        <activity android:name="com.example.geo_segalmex.apicola.EnfermedadesCambioPanales" />
        <activity android:name="com.example.geo_segalmex.apicola.CosechaApicola" />
        <activity android:name="com.example.geo_segalmex.apicola.CapacitacionAsistenciaApicola" />
        <activity android:name="com.example.geo_segalmex.apicola.AspectosProductivosApicola" />
        <activity android:name="com.example.geo_segalmex.apicola.AlimentacionApicola" />
        <activity android:name="com.example.geo_segalmex.apicola.ApicolaInicio" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_8" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_7" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_6" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_5" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_4" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_3" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_2" />
        <activity android:name="com.example.geo_segalmex.unidadcomercializacion.comercializacion_1" />
        <activity android:name="com.example.geo_segalmex.Productor.ProductorInfo" />
        <activity android:name="com.example.geo_segalmex.Productor.ProductorEconom" />
        <activity android:name="com.example.geo_segalmex.Productor.IntegranteFamilia" />
        <activity android:name="com.example.geo_segalmex.Productor.ProductorFamilia" />
        <activity android:name="com.example.geo_segalmex.infraestructura_1" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_14" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_13" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_12" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_11" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_10" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_9" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_8" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_7" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_6" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_5" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_4" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_3" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_2" />
        <activity android:name="com.example.geo_segalmex.frutales.frutales_1" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.date.CalendarioActivity" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.TiempoRiego" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.PostCosecha" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.Nutricion" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.HortalizasPvunoD" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.HortalizasPvunoC" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.HortalizasPvunob" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.HortalizasPVuno" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.FoliarRiego" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.CosechaB" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.Cosecha" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.ControlPlagasEnfermC" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.ControlPlagasEnfermB" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.ControlPlagasEnferm" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.ControlMalezas" />
        <activity android:name="com.example.geo_segalmex.unidadcaracterizacionhortalizas.hortalizas" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion12" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion11" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion10" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion9" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion8" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion7" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion6" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion_tabla" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion5" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion4" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion2" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_caracterizacion" />
        <activity android:name="com.example.geo_segalmex.caracterizacion.ciclo_carac" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.ModalidadHidrica" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.TenenciaTierra" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.TiposAlimentosTres" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.TiposAlimentosDos" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.TiposAlimentos" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.ProduccionAcuicola" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.ProduccionForestal" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.ProduccionPecuaria" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.ProduccionAgricola" />
        <activity android:name="com.example.geo_segalmex.unidadproduccion.UnidadProduccion" />
        <activity android:name="com.example.geo_segalmex.Pecuario.EstructuraDelHato" />
        <activity android:name="com.example.geo_segalmex.Pecuario.InventarioGanadoOvino" />
        <activity android:name="com.example.geo_segalmex.Pecuario.InventarioGanBovinoLeche" />
        <activity android:name="com.example.geo_segalmex.Pecuario.InventarioGanCaprino" />
        <activity android:name="com.example.geo_segalmex.Pecuario.ManejoSanitarioOrdenia" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioAgregarAlimentos" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioAlimentacionGanado" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioCaprinos" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioComposicDietaOvinosCaprinos" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioDietaOvinosCaprinosAlimentos" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioEventosUnidadProduccion" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioInicio" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioManejoAgostadero" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioManejoSanGanado" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioOvinos" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioParamProdReproductivos" />
        <activity android:name="com.example.geo_segalmex.Pecuario.PecuarioReproduccionGenetica" />
        <activity android:name="com.example.geo_segalmex.Gps.GpsTrayectoria" />
        <activity android:name="com.example.geo_segalmex.Gps.GpsActivity" />
        <activity
            android:name="com.example.geo_segalmex.drawer.DrawerActivity"
            android:label="Drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.geo_segalmex.Georeferencia.GeoreferenciaActivity" />
        <activity android:name="com.example.geo_segalmex.Geo.GeoFotos" />
        <activity android:name="com.example.geo_segalmex.Geo.FotoActivityDos" />
        <activity android:name="com.example.geo_segalmex.Geo.FotoActivityUno" />
        <activity android:name="com.example.geo_segalmex.IdentificacionCuestionario" />
        <activity android:name="com.example.geo_segalmex.Segunda" />
        <activity android:name="com.example.geo_segalmex.Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWRIUBSVY-2SKcteFyw4SaXTfGD9L_UQY" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.geo_segalmex.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>